{% extends 'app.html' %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'home' %}">Início</a></li>
    <li><a href="{% url 'coordenadores:consultarTarefa' %}">Tarefas</a></li>
    <li class="is-active"><a href="">Adicionar Tarefa</a></li>
  </ul>
</nav>
<div style="padding: 3rem 2vw 1rem">
    <form method="POST" action="">
      {% csrf_token %}
      <nav class="steps is-success">
        <div class="step-item is-completed is-success is-active"> 
        </div>
        <div class="step-item is-completed is-success">
          <div class="step-marker">
              <span class="icon">
                <i class="mdi mdi-account-details mdi-24px"></i>
              </span>
          </div>
          <div class="step-details">
              <p class="step-title">Adicionar Tarefa</p>
          </div>
        </div>
        <div class="step-item is-completed is-success is-active"> 
        </div>
      </nav>        
      <div style="padding: 1rem 2vw 0px;">
            <hr>
            <div class="column is-offset-3 is-6">
                <div class="block">
                    <div class="field">
                        <label class="label">Tipo de tarefa: </label>
                    </div>
                    <div class="control">
                      <label class="radio" style="margin-right: 1rem;"><input type="radio" name="tipo" value="tarefaAuxiliar"> 
                        <span class="check"></span>
                        <span class="control-label">Auxiliar Atividade</span>
                      </label>
                      <label class="radio" style="margin-right: 1rem;"><input type="radio" name="tipo" value="tarefaAcompanhar"> 
                        <span class="check"></span>
                        <span class="control-label">Acompanhar Participantes</span>
                      </label>
                      <label class="radio" ><input type="radio" name="tipo" value="tarefaOutra"> 
                        <span class="check"></span>
                        <span class="control-label">Outra</span>
                      </label>
                    </div>
                </div>
                <div id="tipoTarefa">        
                </div>   
                <div class="field" style="padding-top:10px">
                    <label class="label">Colaborador</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                          <select name="colab" id="id_colab">
                            <option value="" selected="">Escolha o colaborador</option>
                          </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
      </div>
      <div class="column is-8 is-offset-2">
                <div class="level">
                  <div class="level-left">
                    <a href="javascript:history.back()" class="button is-outlined" type="button">
                      <span>Cancelar</span>
                    </a>
                  </div>
                  <div class="level-right">
                    <button type="submit" class="button is-large is-success is-outlined is-link">
                      <span>Adicionar Tarefa</span>
                    </button>
                  </div>
                </div>
      </div>
    </form>
  </div>



<style>
    .label {
        font-weight: normal;
    }
    .b-steps .steps .step-items .step-item .step-details .step-title {
        font-size: 1rem;
    }
</style>
{% endblock content %}
{% block scripts %}
<script>
    function defaultDias(){
      var atividadeId = document.getElementById("id_atividades").value;
      console.log(atividadeId)
      if(typeof ativiadeId === 'undefined') 
        atividadeId = '';
      $.ajax({                       
        url: "{% url 'coordenadores:diasAtividade' %}", 
        method: 'POST',             
        data: {
            'atividadeid': atividadeId,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            'default': '{{form.instance.id}}'
        },
        success: function (data) {   
          $("#id_dias").html(data);
          $("#id_sessaoid").html('<option value="">Escolha uma sessão</option>');       
        }
      });
    }

    $('input:radio').change(function(){
        var tipo=this.value;
        console.log(tipo)
        $.ajax({                       
        url: "{% url 'coordenadores:tipoTarefa' %}", 
        method: 'POST',             
        data: {
            'tipo' : tipo,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#tipoTarefa").html(data); 
          defaultDias();    
        }
      });
      
    });



/*---------------->GenericFunctions<---------------------*/   
function dropdownDependencies(url){
  var id = document.getElementById("identifier").value;
  var dia = document.getElementById("dia").value;
  var horario = document.getElementById("horario").value;
  
}
/*---------------->AuxiliarAtividade<--------------------*/
    function diasSelect(){
      var atividadeId = document.getElementById("id_atividade").value; 
      $.ajax({                       
        url: "{% url 'coordenadores:diasAtividade' %}", 
        method: 'POST',             
        data: {
            'atividadeid': atividadeId,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#id_dia").html(data);
          $("#id_sessao").html('<option value="">Escolha a sessão</option>');       
        }
      });
    }

    function sessoesSelect(){
      var dia = document.getElementById("id_dia").value; 
      var atividadeId = document.getElementById("id_atividade").value; 
      $.ajax({                       
        url: "{% url 'coordenadores:sessoesAtividade' %}", 
        method: 'POST',             
        data: {
            'dia': dia,
            'atividadeid':atividadeId,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#id_sessao").html(data);           
        }
      });
    }

    function colaboradoresSelect(){
      $.ajax({                       
        url: "{% url 'coordenadores:colaboradores' %}", 
        method: 'POST',             
        data: {
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#id_colab").html(data);           
        }
      });
    }
/*-------------------->EndAuxiliarAtividade<-----------------*/
/*-------------------->Acompanhar Grupo<---------------------*/
    function grupoInfo(){
      var grupo_id = document.getElementById("id_grupo").value;; 
      $.ajax({                       
        url: "{% url 'coordenadores:grupoInfo' %}", 
        method: 'POST',             
        data: {
            'grupo_id': grupo_id,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#grupoinfo").html(data);           
        }
      });
    }

    function diasGrupo(){
      var grupo_id = document.getElementById("id_grupo").value; 
      $.ajax({                       
        url: "{% url 'coordenadores:diasGrupo' %}", 
        method: 'POST',             
        data: {
            'grupo_id': grupo_id,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#id_dia").html(data);           
        }
      });
    }

    function grupoHorario(){
      var dia = document.getElementById("id_dia").value;
      var grupo_id = document.getElementById("id_grupo").value; 
      $.ajax({                       
        url: "{% url 'coordenadores:horarioGrupo' %}", 
        method: 'POST',             
        data: {
            'dia': dia,
            'grupo_id' : grupo_id,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#id_horario").html(data);           
        }
      });
    }

    function grupoOrigem(){
      var dia = document.getElementById("id_dia").value;
      var grupo_id = document.getElementById("id_grupo").value; 
      var sessao_id = document.getElementById("id_horario").value;
      $.ajax({                       
        url: "{% url 'coordenadores:locaisOrigem' %}", 
        method: 'POST',             
        data: {
            'dia': dia,
            'grupo_id' : grupo_id,
            'sessao_id' : sessao_id,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#id_origem").html(data);           
        }
      });
    }

    function grupoDestino(){
      var dia = document.getElementById("id_dia").value;
      var grupo_id = document.getElementById("id_grupo").value; 
      var sessao_id = document.getElementById("id_horario").value;
      $.ajax({                       
        url: "{% url 'coordenadores:locaisDestino' %}", 
        method: 'POST',             
        data: {
            'dia': dia,
            'grupo_id' : grupo_id,
            'sessao_id' : sessao_id,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#id_destino").html(data);           
        }
      });
    }
/*----------------->EndAcompanharAtividade<--------------*/
</script>
{% endblock scripts %}