{% extends 'configuracao/app.html' %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'inicio' %}">Início</a></li>
    <li><a href="{% url 'minhasAtividades' %}">Tarefas</a></li>
    <li class="is-active"><a href="">Adicionar Tarefa</a></li>
  </ul>
</nav>
<div style="padding: 3rem 2vw 1rem">
    <div class="b-steps">
        <form method="POST" action="">
            <section class="step-content">
                <div class="step-item">
                    <div style="padding: 1rem 2vw 0px;">
                        <hr>
                        <div class="column is-offset-3 is-6">
                            <div class="block">
                                <div class="field">
                                    <label class="label">Tipo de tarefa: </label>
                                </div>
                                <div class="control">
                                    {{formTarefa.tipo}}
                                </div>
                            </div>
                            <div id="tipoTarefa">         
                            </div>   
                            <div class="field" style="padding-top:10px">
                                <label class="label">Colaborador</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                      {{formTarefa.colab}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </section>
            <div class="column is-8 is-offset-2">
                <div class="level">
                  <div class="level-left">
                    <a href="javascript:history.back()" class="button is-outlined" type="button">
                      <span>Cancelar</span>
                    </a>
                  </div>
                  <div class="level-right">
                    <button type="submit" class="button is-large is-success is-outlined is-link">
                      <span>Adicionar Tarefa</span>
                    </button>
                  </div>
                </div>
            </div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{field.label|escape}}{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
        </form>
    </div>
</div>
<style>
    .label {
        font-weight: normal;
    }
    .b-steps .steps .step-items .step-item .step-details .step-title {
        font-size: 1rem;
    }
</style>
{% endblock content %}
{% block scripts %}
<script>
    function defaultDias(){
      var atividadeId = document.getElementById("id_atividades").value;
      console.log(atividadeId)
      if(typeof ativiadeId === 'undefined') 
        atividadeId = '';
      $.ajax({                       
        url: "{% url 'diasAtividade' %}", 
        method: 'POST',             
        data: {
            'atividadeid': atividadeId,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            'default': '{{form.instance.id}}'
        },
        success: function (data) {   
          $("#id_dias").html(data);
          $("#id_sessaoid").html('<option value="">Escolha uma sessão</option>');       
        }
      });
    }

    $('input:radio').change(function(){
        var tipo=this.value;

        $.ajax({                       
        url: "{% url 'tipoTarefa' %}", 
        method: 'POST',             
        data: {
            'tipo' : tipo,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#tipoTarefa").html(data); 3
          defaultDias();    
        }
      });
      
    });

    function diasSelect(){
      var atividadeId = document.getElementById("id_atividades").value; 
      $.ajax({                       
        url: "{% url 'diasAtividade' %}", 
        method: 'POST',             
        data: {
            'atividadeid': atividadeId,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#id_dias").html(data);
          $("#id_sessaoid").html('<option value="">Escolha uma sessão</option>');       
        }
      });
    }

    function sessoesSelect(){
      var dia = document.getElementById("id_dias").value; 
      $.ajax({                       
        url: "{% url 'sessoesAtividade' %}", 
        method: 'POST',             
        data: {
            'dia': dia,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#id_sessaoid").html(data);           
        }
      });
    }

    function colaboradoresSelect(){
      var sessao = document.getElementById("id_sessaoid").value;; 
      $.ajax({                       
        url: "{% url 'colaboradoresAtividade' %}", 
        method: 'POST',             
        data: {
            'sessao': sessao,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#id_colab").html(data);           
        }
      });
    }

    function grupoInfo(){
      var grupo_id = document.getElementById("id_grupo").value;; 
      $.ajax({                       
        url: "{% url 'grupoInfo' %}", 
        method: 'POST',             
        data: {
            'grupo_id': grupo_id,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#grupoinfo").html(data);           
        }
      });
    }

    function diasGrupo(){
      var grupo_id = document.getElementById("id_grupo").value; 
      $.ajax({                       
        url: "{% url 'diasGrupo' %}", 
        method: 'POST',             
        data: {
            'grupo_id': grupo_id,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#id_dias").html(data);           
        }
      });
    }

    function grupoHorario(){
      var dia = document.getElementById("id_dias").value;
      var grupo_id = document.getElementById("id_grupo").value; 
      $.ajax({                       
        url: "{% url 'horarioGrupo' %}", 
        method: 'POST',             
        data: {
            'dia': dia,
            'grupo_id' : grupo_id,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   
          $("#id_horario").html(data);           
        }
      });
    }

</script>
{% endblock scripts %}