<div class="columns">
    <div class="column"> 
        <div class="field">
            <label class="label">Grupo</label>
            <div class="control">
                <div class="select is-fullwidth">
                    
                </div>
            </div>
        </div>
    </div>      
</div>
<div class="columns">
    <div class="column"> 
        <div class="field">
            <label class="label">Dia</label>
            <div class="control">
                <div class="select is-fullwidth">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="column"> 
        <div class="field">
            <label class="label">Horário</label>
            <div class="control">
                <div class="select is-fullwidth">
                   
                </div>
            </div>
        </div>
    </div>             
</div>
<div>
    <div class="column"> 
        <div class="field">
            <label class="label">Local de encontro</label>
            <div class="control">
                <div class="select is-fullwidth">
                    
                </div>
            </div>
        </div>
    </div> 
    <div class="column"> 
        <div class="field">
            <label class="label">Local de destino</label>
            <div class="control">
                <div class="select is-fullwidth">
                    
                </div>
            </div>
        </div>
    </div>
</div>
