<div class="columns">
    <div class="column"> 
        <div class="field">
            <label class="label">Atividade</label>
            <div class="control">
                <div class="select is-fullwidth">
                    {{form.atividades}}
                </div>
            </div>
        </div>
    </div>
    <div class="column"> 
        <div class="field">
            <label class="label">Dia</label>
            <div class="control">
                <div class="select is-fullwidth">
                    {{tarefa.dia}}
                </div>
            </div>
        </div>
    </div>   
    <div class="column"> 
        <div class="field">
            <label class="label">Sessão</label>
            <div class="control">
                <div class="select is-fullwidth">
                    {{form.sessaoid}}
                </div>
            </div>
        </div>
    </div>           
</div>