{% extends 'configuracao/app.html' %}
{% block content %}
<div class="columns">
    <div class="column is-3"></div>
    <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="#">Início</a></li>
              <li class="is-active"><a href="#" aria-current="page">Minhas Atividades</a></li>
            </ul>
          </nav>
        <a href="/proporatividade" class="button is-success is-outlined" type="button" style="margin-bottom:0.5rem">
            <span class="icon is-small">
                <i class="mdi mdi-plus"></i>
            </span>
            <span>Propor nova atividade</span>
        </a>
        <div class="table "></div>
            <div class="table-wrapper">
                <table class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th width="40px"></th>
                            <th  style="width: 300px;">
                                <div class="th-wrap">
                                    Nome
                                    <span class="icon is-small">
                                        <i class="mdi mdi-menu-up"></i>
                                    </span>
                                </div>
                            </th>
                            <th style="width: 300px;">
                                Submetido a
                                <span class="icon is-small">
                                     <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                            <th>
                                Estado
                                <span class="icon is-small">
                                    <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    {% for atividade in atividades %}
                    <tbody>      
                      <tr draggable="false">
                        <td class="chevron-cell">
                            <a role="button">
                                <span class="icon is-expanded">
                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Nome">{{atividade.nome}} 
                            <a href="{% url 'alterarAtividade' atividade.id %}">
                                <span class="icon is-small">
                                    <i class="mdi mdi-circle-edit-outline mdi-22px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Submetido a">{{atividade.dataalteracao}}</td>
                        {% if atividade.estado == "Pendente"%}
                        <td data-label="Estado">
                            <span class="tag next is-warning" style="width: 7 rem;font-size: small;">{{atividade.estado}}</span>
                        </td>
                        {% elif atividade.estado == "Recusada" %}
                        <td data-label="Estado">
                            <span class="tag next is-danger" style="width: 7 rem;font-size: small;">{{atividade.estado}}</span>
                        </td>
                        {% elif atividade.estado == "Aceite"%}
                        <td data-label="Estado">
                            <span class="tag next is-success" style="width: 7 rem;font-size: small;">{{atividade.estado}}</span>
                        </td>
                        {% endif %}
                      </tr> 
                      <tr class="detail">
                        <td colspan="4">
                            <div class="detail-container"></div>
                        </td>
                      </tr> 
                    </tbody>
                    {% endfor %}
                </table>
            </div>

    </div>
</div>
{% endblock content %}