{% extends 'configuracao/app.html' %}
{% block content %}
<div class="columns">
       <div class="column is-3">
        <form method="POST" action="" id='filter'>
            {% csrf_token %}
            <div>
            <div class="menu">
                <p class="menu-label">Filtros Atividades</p>
                <ul class="menu-list">
                <div class="field">
                    <div class="control has-icons-left is-clearfix">
                        <input type="text" name="searchAtividade" placeholder="Atividade" class="input" value=""> 
                        <span class="icon is-left">
                            <i class="mdi mdi-magnify mdi-24px"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control is-expanded">
                        <span class="select is-fullwidth is-empty">
                            {{filter.showBy}}
                        </span>
                    </div>
                </div>
                <div class="field">
                    <button onclick="resetForm()" type="submit" class="button is-danger is-outlined">
                        <span class="icon is-left">
                            <i class="mdi mdi-trash-can-outline mdi-24px"></i>
                        </span>
                        <span>Limpar pesquisa</span>
                    </button>
                    <button type="Submit" class="button is-success is-outlined">
                        <span class="icon is-left">
                            <i class="mdi mdi-magnify mdi-24px"></i>
                        </span>
                        <span>Pesquisar</span>
                    </button>
                </div>
                </ul>
            </div>
            </div>
            
        </form>
    </div>
    <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="#">Início</a></li>
              <li class="is-active"><a href="#" aria-current="page">Minhas Atividades</a></li>
            </ul>
          </nav>
        <a href="{% url 'proporAtividade' %}" class="button is-success is-outlined" type="button" style="margin-bottom:0.5rem">
            <span class="icon is-small">
                <i class="mdi mdi-plus"></i>
            </span>
            <span>Propor nova atividade</span>
        </a>
        <div class="table">
            <div class="table-wrapper">
                <table class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th width="40px"></th>
                            <th  style="width: 300px;">
                                <div class="th-wrap">
                                    <a onclick="orderBy('nome')">
                                        Nome
                                        <span class="icon-expandable-180 is-small">
                                            <i class="mdi mdi-menu-up"></i>
                                        </span>
                                    </a>
                                </div>
                            </th>
                            <th style="width: 300px;">
                                <a>
                                    Submetido a
                                    <span class="icon-expandable-180 is-small">
                                        <i class="mdi mdi-menu-up"></i>
                                    </span>
                                </a>
                            </th>
                            <th>
                                <a>
                                    Estado
                                    <span class="icon-expandable-180 is-small">
                                        <i class="mdi mdi-menu-up"></i>
                                    </span>
                                </a>
                            </th>
                            <th >
                            </th>
                            <th style="width:300px">
                            </th>
                        </tr>
                    </thead>
                    {% for atividade in atividades %}
                    <tbody id="{{atividade}}">      
                        <tr draggable="false">
                            <td class="chevron-cell">
                                <a class="detailbutton" role="button" onclick="displayDetails({{atividade.id}})" atividade="{{atividade.id}}">
                                    <span class="icon-expandable">
                                        <i class="mdi mdi-chevron-right mdi-24px"></i>
                                    </span>
                                </a>
                            </td>
                            <td data-label="Nome">{{atividade.nome}} </td>
                            <td data-label="Submetido a">{{atividade.dataalteracao}}</td>
                            {% if atividade.estado == "Pendente"%}
                            <td data-label="Estado">
                                <span class="tag text is-warning" style="width: 7rem;font-size: small;">{{atividade.estado}}</span>
                            </td>
                            {% elif atividade.estado == "Recusada" %}
                            <td data-label="Estado">
                                <span class="tag text is-danger" style="width: 7rem;font-size: small;">{{atividade.estado}}</span>
                            </td>
                            {% elif atividade.estado == "Aceite"%}
                            <td data-label="Estado">
                                <span class="tag text is-success" style="width: 7rem;font-size: small;">{{atividade.estado}}</span>
                            </td>
                            {% endif %}
                            <td >
                                <a href="{% url 'alterarAtividade' atividade.id %}">
                                    <span class="icon has-text-link">
                                        <i class="mdi mdi-circle-edit-outline mdi-24px"></i>
                                    </span>
                                </a>
                                
                            </td>
                            <td>
                                <input type="hidden" id="del" name="variable" value="{% url 'eliminarAtividade' atividade.id %}"> 
                                <a onclick="alert.render('Tem a certeza que pretende eliminar esta atividade?')">
                                    <span class="icon has-text-danger">
                                        <i class="mdi mdi-trash-can-outline mdi-24px"></i>
                                    </span>
                                </a>
                            </td>
                        </tr> 
                        <tr class="detail" style="display:none;" id='Details{{atividade.id}}'>
                        <td colspan="7">
                            <div class="detail-container">
                                <div class="content"> 
                                    <div style="font-size: 15px">
                                        <p>
                                            <strong>Nome:</strong>
                                            {{atividade.nome}}
                                        </p>
                                        <p>
                                            <strong>Professor:</strong>
                                            {{atividade.professoruniversitarioutilizadorid.utilizadorid.nome}}
                                        </p>
                                        <p>
                                            <strong>Data de submissão:</strong>
                                            {{atividade.dataalteracao}}
                                        </p>
                                        <p>
                                            <strong>Estado de submissão:</strong>
                                            {{atividade.estado}}
                                        </p>
                                        <p>
                                            <strong>Tipo de Atividade:</strong>
                                            {{atividade.tipo}}
                                        </p>
                                        <p>
                                            <strong>Descrição:</strong>
                                            {{atividade.descricao}}
                                        </p>
                                        <p>
                                            <strong>Campus:</strong>
                                            {{atividade.espacoid.edificio.campus.nome}}
                                        </p>
                                        <p>
                                            <strong>Entidade Organizacional:</strong>
                                            
                                        </p>
                                        <p>
                                            <strong>Departamento:</strong>
                                            {{atividade.professoruniversitarioutilizadorid.departamento.nome}}
                                        </p>
                                        <p>
                                            <strong>Sessões:</strong>
                                        </p>
                                        <div class="table-wrapper">
                                            <table class="table has-mobile-cards">
                                                <thead> 
                                                    <tr>
                                                        <th><div class="th-wrap">Dia</div></th>
                                                        <th><div class="th-wrap" style="width:150px">Hora</div></th>
                                                        <th><div class="th-wrap" style="width:150px">Vagas</div></th>
                                                    </tr>
                                                </thead>
                                                {% for  sessao in  sessoes%}
                                                    {% if  sessao.atividadeid.id == atividade.id %}
                                                        <tbody>
                                                            <tr >
                                                                <td data-label="Dia">{{atividade.diaabertoid.datadiaabertoinicio}}</td>
                                                                <td data-label="Hora">{{sessao.horarioid.inicio}} até {{sessao.horarioid.fim}}</td>
                                                                <td data-label="Vagas">{{sessao.vagas}}</td>
                                                            </tr>
                                                        </tbody>
                                                    {% endif %}
                                                {% endfor %}
                                            </table>
                                        </div>
                                        {% if  atividade.estado == 'Pendente' %}
                                            <div style="margin-top:13px">
                                                <a type="button" href="{% url 'validarAtividade' atividade.id 1 %}" class="button is-success" style="margin-right: 10px;" ><span class="icon is-small"><i class="mdi mdi-check"></i></span><span>Aceitar</span></a>
                                                <a type="button" href="{% url 'validarAtividade' atividade.id 0 %}" class="button is-danger"><span class="icon is-small"><i class="mdi mdi-delete"></i></span> <span>Rejeitar</span></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>                        
                        </td>                
                      </tr>
                    </tbody>         
                    {% endfor %}
                </table>
            </div>
    </div>
</div>
<div id="msg" class="dialog modal">
    <div class="modal-background"></div>
    <div class="modal-card animation-content">
        <section class="modal-card-body is-titleless">
            <div class="media">
                <div class="media-content">
                    <p id='text-00'></p>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button onclick="alert.cancelar()" class="button">Cancelar</button>
            <button onclick="alert.confirmar()" class="button is-success">Confirmar</button>
        </footer>
    </div>
</div>
<style>
.dialog .modal-card .modal-card-body.is-titleless {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

tr.detail{
    padding:1rem;
}
.table tr.detail{
    -webkit-box-shadow:inset 0 1px 3px #dbdbdb;
    box-shadow:inset 0 1px 3px #dbdbdb;
    background:#fafafa
}
</style>
{% endblock content %}