{% extends 'atividades/proporAtividade.html' %}
{% block 'sessao' %}
<div style="padding: 1rem 2vw 0px">
  <hr>
  <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
    Adicionar Sessão
  </h2>
  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Horário</label>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
          </div>
        </div>
      </div>
    </div>
  </div>
<hr>
{% endblock %}