
<tr>
    <input type="hidden" name="{{form_id}}" id="id_{{form_id}}">
    <td>
        <div class="field" >
            <div class="control">
                <div class="select is-fullwidth" >
                    <select id="id_{{form_dia}}" name="{{form_dia}}" class="input dia-sessao">
                        <option value="">---------</option>
                        {% for dia in dias %}
                            <option value="{{dia|date:'Y-m-d'}}">{{dia}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </td>
    <td>
       </div>
           <div class="field" >
               <div class="control">
                   <div class="select is-fullwidth" >
                       <select id="id_{{form_horario}}" name="{{form_horario}}" class="input horario-sessao">
                           <option value="">---------</option>
                       </select>
                   </div>
               </div>
           </div>
       </div>
    </td>
</tr>
