{% extends 'app.html' %}

{% block title %}Detalhes Notificação{% endblock title %}

{% block content %}
<div>
    <nav aria-label="breadcrumbs" class="breadcrumb">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/">Notificações</a></li>
            <li class="is-active"><a href="/inscricao">Detalhes Notificação</a></li>
        </ul>
    </nav>
    <div style="padding: 3rem 2vw 1rem;">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Título</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control has-background-light" style="padding: 10px 30px">
                        {{notificacao.descricao}}
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Mensagem</label>
            </div>
            <div class="field-body">
                <div class="field has-addons has-background-light">
                    <p class="control" style="padding: 10px 30px">
                        A atividade X, submetida pelo Professor Universitário José Oliveira,
                        no dia 12 de maio de 2021, às 12:30, foi revista e aceite pelo Coordenador
                        do Departamento de Engenharia Informática, Daniel Silva, no dia 14 de maio de 2021, às 15:31.
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Data de envio</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control" style="padding: 6px 10px">
                        {{notificacao.criadoem}}
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Remetente</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control" style="padding: 6px 10px">
                        <a href="">Daniel Silva</a> (Coordenador)
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Destinatário(s)</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control" style="padding: 6px 10px">
                        <a href="">José Oliveira</a> (Prof. Universitário)
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal" style="margin-top: 17px">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-danger is-outlined">
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span>Apagar Notificação</span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button">
                            <span>Responder</span>
                            <span class="icon is-small">
                                <i class="fas fa-reply"></i>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}