DEBUG=on
DATABASE_URL=mysql://user:password@db.example.com:5432/db # Pedir ao Gui
SECRET_KEY=q1^j3mv#y9-n&^*j)-rd3@lqqu@jv49p_99$mefzljeuz#fra3
EMAIL_HOST_USER=suporte.dia.aberto@gmail.com
EMAIL_HOST_PASSWORD=password # Pedir ao Barrocas