{% load static %}
{% load poll_extras %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="{% url 'home' %}">
      <img src="{% static 'img/logo-navbar.png' %}" alt="Dia Aberto">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">

    {% if request.user|has_group:'Participante' %}
    <a href="/minhasatividades" class="navbar-item">
      Minhas Atividades
    </a>
    {% elif request.user|has_group:'Colaborador'%}
    <a href="{% url 'colaboradores:consultar-tarefas' %}" class="navbar-item">
      Minhas Tarefas
    </a> 
    {% elif request.user|has_group:'ProfessorUniversitario'%}
    <a href="/minhasatividades" class="navbar-item">
      Minhas Atividades
    </a>   
    {% elif request.user|has_group:'Coordenador'%}
    <a href="/minhasatividades" class="navbar-item">
      Atividades dos Departamentos
    </a>  
    <a href="/minhasatividades" class="navbar-item">
        Inscrições
      </a> 
      <a href="{% url 'utilizadores:consultar-utilizadores' %}" class="navbar-item">
        Utilizadores
      </a> 
      <a href="{% url 'consultarTarefa' %}" class="navbar-item">
        Tarefas
      </a>
    {% elif request.user|has_group:'Administrador'%}
      <a href="/minhasatividades" class="navbar-item">
        Atividades
      </a> 
      <a href="/minhasatividades" class="navbar-item">
        Inscrições
      </a> 
      <a href="/minhasatividades" class="navbar-item">
        Transportes
      </a> 
      <a href="/minhasatividades" class="navbar-item">
        Almoços
      </a>  
      <a href="{% url 'utilizadores:consultar-utilizadores' %}" class="navbar-item">
        Utilizadores
      </a> 
      <a href="/minhasatividades" class="navbar-item">
        Configuração do Dia Aberto
      </a>

    {% else %}
    <a href="" class="navbar-item">

    </a>
    {% endif %}
</div>
    
    
    <div class="navbar-end">
      <div class="navbar-item">
      {% if user.is_authenticated %}
        <div class="dropdown is-bottom-left is-mobile-modal">
          <div role="button" class="dropdown-trigger">
            <span role="button">
              <div type="button" data-badge="0" class="button has-badge-rounded has-badge-warning is-text"
                style="margin-right: 0.9rem">
                <span>
                  <span class="icon">
                    <i class="mdi mdi-bell mdi-24px"></i>
                  </span>
                </span>
              </div>
            </span>
          </div>
          <div class="background" style="display:none" aria-hidden="true"></div>
          <div class="dropdown-menu" style="display:none" aria-hidden="true">
            <div role="menu" class="dropdown-content">
              <div role="menuitem" tabindex="0" class="dropdown-item">
                <strong>test</strong>
              </div>
            </div>
          </div>
        </div>
        <div onclick="definicoes()">
        <div id="dropdown_definicoes" class="dropdown is-right">
          <div role="button" class="dropdown-trigger">
            <span role="button">
              <div type="button" data-badge="0" class="button has-badge-rounded has-badge-warning is-text"
                style="margin-right: 0.9rem">
                <span>
                  <span class="icon">
                    <i class="mdi mdi-account-circle mdi-24px"></i>
                  </span>
                </span>
              </div>
            </span>
          </div>
          <div class="background"  aria-hidden="true"></div>
          <div class="dropdown-menu"  aria-hidden="true">
            <div role="menu" class="dropdown-content">
           
              <div role="menuitem" tabindex="0" class="dropdown-item">
                <a href="{% url 'utilizadores:alterar-utilizador' %}" role="listitem" tabindex="0" class="dropdown-item is-disabled">
                  <span class="icon" >
                    <i class="mdi mdi-account-edit mdi-24px" ></i> 
                  </span>

                <strong>Alterar dados de conta</strong>
                 
                 
                 </a>
                  
                <a href="" role="listitem" tabindex="0" class="dropdown-item">
                
                  <span class="icon" >
                    <i class="mdi mdi-bell-circle mdi-24px" ></i> 
                  </span>

                <strong>Gerir notificações</strong>
                
                
                </a>
                
                <a href="{% url 'utilizadores:alterar-password' %}" role="listitem" tabindex="0" class="dropdown-item is-disabled">

                  <span class="icon" >
                    <i class="mdi mdi-key-variant mdi-24px" ></i> 
                  </span>

                <strong>Alterar palavra-passe</strong>
                
                </a>



                <a href="{% url 'utilizadores:alterar-idioma' %}" role="listitem" tabindex="0" class="dropdown-item is-disabled">

                  <span class="icon" >
                    <i class="mdi mdi-web mdi-24px" ></i> 
                  </span>

                <strong>Idioma</strong>
                
                </a>

                
                
                  {% if u == 'Participante'%}
                  <input type="hidden" id="del" name="variable" value="{% url 'utilizadores:apagar-conta'%}"> 
                <a onclick="alert.render('Tem a certeza que pretende eliminar a sua conta?<br><br><b>Atenção!</b><br><br>A sua <b>incrição</b> será apagada permanentemente.','del')"role="listitem" tabindex="0" class="dropdown-item is-disabled">
                    {% elif u == 'Colaborador'%}
                    <input type="hidden" id="del" name="variable" value="{% url 'utilizadores:apagar-conta'%}"> 
                <a onclick="alert.render('Tem a certeza que pretende eliminar a sua conta?<br><br><b>Atenção!</b><br><br>As suas <b>tarefas</b> deixarão de lhe estar atribuidas.','del')"role="listitem" tabindex="0" class="dropdown-item is-disabled">
                    {% elif u == 'ProfessorUniversitario'%}
                    <input type="hidden" id="del" name="variable" value="{% url 'utilizadores:apagar-conta'%}"> 
                <a onclick="alert.render('Tem a certeza que pretende eliminar a sua conta?<br><br><b>Atenção!</b><br><br>As suas <b>atividades</b> serão apagadas permanentemente.','del')"role="listitem" tabindex="0" class="dropdown-item is-disabled">
                    {% elif u == 'Coordenador'%}
                    <input type="hidden" id="del" name="variable" value="{% url 'utilizadores:apagar-conta'%}"> 
                <a onclick="alert.render('Tem a certeza que pretende eliminar a sua conta?<br><br><b>Atenção!</b><br><br> As <b>atividades dos departamentos</b> pelo qual está responsável serão apagadas permanentemente.<br><br>As <b>tarefas dos colaboradores</b> pelo qual está responsável serão apagadas permanentemente.','del')"role="listitem" tabindex="0" class="dropdown-item is-disabled"> 
                    {% elif u == 'Administrador'%}
                    <input type="hidden" id="del" name="variable" value="{% url 'utilizadores:apagar-conta'%}"> 
                    {% if user|apagar_admin:user.id %}
                    <input type="hidden" id="del" name="variable" value="{% url 'utilizadores:apagar-conta'%}"> 
                <a onclick="alert.render('Tem a certeza que pretende eliminar a sua conta?<br><br><b>Atenção!</b><br><br>Todas as suas <b>informações</b> serão apagadas permanentemente incluindo os <b>dados de configuração</b> do dia aberto pelo qual está responsável.','del')"role="listitem" tabindex="0" class="dropdown-item is-disabled">
                    {% else %}
                    
                  <a onclick="alerta.render('Não pode apagar o seu perfil porque é o unico administrador do dia aberto neste momento.','del')"role="listitem" tabindex="0" class="dropdown-item is-disabled">   
                    {% endif %}
                    {% endif %}
                    {% comment %} <input type="hidden" id="del" name="variable" value="{% url 'utilizadores:apagar-conta'%}">  {% endcomment %}
                  
                  <span class="icon" >
                    <i class="mdi mdi-trash-can-outline mdi-24px" ></i> 
                  </span>
                <strong>Apagar Conta</strong>
                </a>



              </div>
            </div>
          </div>
        </div>
        </div>
        {% endif %}
        
        
        
        {% if user.is_authenticated %}
        <a href="{% url 'utilizadores:logout' %}">
        <div type="button" class="button">
          <span class="icon is-small">
            <i class="mdi mdi-login-variant"></i>
          </span>
          <span>Sair</span>
        </div>
        </a>
        {% else %}

         
         <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
            <a href="{% url 'utilizadores:escolher-perfil' %}">
              <bottom class="button is-primary">
                <strong>Registar</strong>
              </a>
            </a>
            </div>
          </div>
        </div>
        

        <a href="{% url 'utilizadores:login' %}">
        <div type="button" class="button">
          <span class="icon is-small">
            <i class="mdi mdi-login-variant"></i>
          </span>
          <span>Entrar</span>
        </div>
        </a>
        {% endif %}

      </div>
    </div>
  </div>
</nav>



<div id="msg-iniciar" class="dialog modal ">
    <div class="modal-background"></div>
    <div class="modal-card animation-content">
        <section class="modal-card-body is-titleless" style="border-top-left-radius: 6px; border-top-right-radius: 6px;">
            <div class="media">
                <div class="media-content">
                    <p id='text1'></p>
                </div>
            </div>
        </section>
        
        <footer class="modal-card-foot">
            <button onclick="alerta.cancelar()" class="button">Cancelar</button>
        </footer>
    </div>
</div>



<div id="msg" class="dialog modal ">
    <div class="modal-background"></div>
    <div class="modal-card animation-content">
        <section class="modal-card-body is-titleless" style="border-top-left-radius: 6px; border-top-right-radius: 6px;">
            <div class="media">
                <div class="media-content">
                    <p id='text-00'></p>
                </div>
            </div>
        </section>
        
        <footer class="modal-card-foot">
            <button onclick="alert.cancelar()" class="button">Cancelar</button>
            <button id='dialog-confirm' onclick="alert.confirmar()" class="button is-success">Confirmar</button>
        </footer>
    </div>
</div>

{% block scripts %}
<script>

var msg = document.getElementById("msg-iniciar")
var alerta = new Alerta(msg);
function Alerta(msg) {
    this.msg=msg
    this.render=function(txt,elementId){
        document.getElementById('text1').innerHTML = txt;
        document.getElementById('dialog-confirm').setAttribute('data-target',elementId)
        msg.classList.add("is-active");
    }

    this.cancelar=function(){
        var msg = document.getElementById("msg-iniciar")
        msg.classList.remove("is-active");
    }   
}


function definicoes() {
  var x = document.getElementById("dropdown_definicoes");
  if (x.className === "dropdown is-right") {
    x.className = "dropdown is-right is-active";
  } else {
    x.className = "dropdown is-right";
  }
}
</script>

{% endblock scripts %}