{% extends 'app.html' %}

{% load i18n %}

{% block load %}
<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'css/bulma.css' %}">
<script src="{% static 'js/encoding.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/axios.js' %}"></script>
<script src="https://unpkg.com/buefy/dist/components/autocomplete"></script>
{{ wizard.form.media }}
{% endblock %}

{% block title %}Consultar Inscrição{% endblock title %}

{% block content %}
        <div>
                <nav aria-label="breadcrumbs" class="breadcrumb">
                    <ul>
                        <li><a href="/" class="router-link-active">Início</a></li>
                        <li class="is-active"><a href="/inscricao" class="router-link-exact-active router-link-active">
                                Inscrição</a></li>           
                                 </ul>
                </nav>

                <div style="padding: 3rem 2vw 1rem;">
                        <div class="steps is-success">
                            <div class="step-item is-success is-completed">
                                <div class="step-marker">
                                    <span class="icon">
                                        <i class="mdi mdi-account"></i>
                                    </span>
                                </div>
                                <div class="step-details">
                                    <p class="step-title">Responsáveis</p>
                                </div>
                            </div>
                            <div class="step-item is-success is-active">
                                <div class="step-marker">
                                    <span class="icon">
                                        <i class="mdi mdi-school"></i>
                                    </span>
                                </div>
                                <div class="step-details">
                                    <p class="step-title">Escola</p>
                                </div>
                            </div>
                            <div class="step-item is-success">
                                <div class="step-marker">
                                    <span class="icon">
                                        <i class="mdi mdi-train-car"></i>
                                    </span>
                                </div>
                                <div class="step-details">
                                    <p class="step-title">Transporte</p>
                                </div>
                            </div>
                            <div class="step-item is-success">
                                <div class="step-marker">
                                    <span class="icon">
                                        <i class="mdi mdi-food-apple"></i>
                                    </span>
                                </div>
                                <div class="step-details">
                                    <p class="step-title">Almoço</p>
                                </div>
                            </div>
                            <div class="step-item is-success">
                                <div class="step-marker">
                                    <span class="icon">
                                        <i class="mdi mdi-calendar-check"></i>
                                    </span>
                                </div>
                                <div class="step-details">
                                    <p class="step-title">Sessões</p>
                                </div>
                            </div>
                            <div class="step-item is-success">
                                <div class="step-marker">
                                    <span class="icon">
                                        <i class="mdi mdi-check"></i>
                                    </span>
                                </div>
                                <div class="step-details">
                                    <p class="step-title">Submissão</p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ wizard.management_form }}
                            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                                Informação da Escola
                            </h2>
                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        <label for="{{ form.nome.id_for_label }}" class="label">Nome da Escola</label>{{object.inscricaocoletiva.escola.nome}} 
                                        <div class="controlis-clearfix">
                                            <b-autocomplete v-model="escola" :data="escolas" field="nome" @typing="fetchEscolas"
                                                required name="escola-nome">
                                            </b-autocomplete>
                                        </div>
                                        {{ form.nome.errors }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label for="{{ form.local.id_for_label }}" class="label">Localidade</label>
                                        <div class="control is-clearfix">{{object.inscricaocoletiva.escola.local}}</div>
                                        {{ form.local.errors }}
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                                Informação da Turma
                            </h2>
                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        <label for="{{ form.ano.id_for_label }}" class="label">Ano</label>{{object.ano}}
                                        <div class="control is-clearfix">{{form.ano}}</div>
                                        {{ form.ano.errors }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label for="{{ form.turma.id_for_label }}" class="label">Turma</label>{{object.inscricaocoletiva.turma}}
                                        <div class="control is-clearfix">{{form.turma}}</div>
                                        {{ form.turma.errors }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field has-numberinput has-numberinput-compact"><label
                                            for="{{form.nalunos.id_for_label}}" class="label">Número de
                                            alunos</label>
                                        <div class="b-numberinput field has-addons">
                                            <p class="control"><button type="button" class="button is-primary"><span class="icon"><i
                                                            class="mdi mdi-minus mdi-24px"></i></span></button></p>
                                            <div class="control is-clearfix">{{object.inscricaocoletiva.nalunos}}
                                            </div>
                                            <p class="control"><button type="button" class="button is-primary"><span class="icon"><i
                                                            class="mdi mdi-plus mdi-24px"></i></span></button></p>
                                        </div>
                                        {{ form.turma.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label for="{{ form.areacientifica.id_for_label }}" class="label">Área Científica</label>
                                <div class="control is-clearfix">{{object.areacientifica}}</div>
                                {{ form.areacientifica.errors }}
                            </div>
                            <hr />
                            <div class="column is-8 is-offset-2">
                                <div class="level">
                                    <div class="level-left">
                                        {% if wizard.steps.prev %}
                                        <button class="button is-outlined" formnovalidate="formnovalidate" name="wizard_goto_step"
                                            value="{{ wizard.steps.prev }}">
                                            <span class=" icon is-small"><i class="mdi mdi-chevron-left"></i></span>
                                            <span>Anterior</span>
                                        </button>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="level-right">
                                        <a href="{% url 'transporte' %}">
                                            <span>Próximo</span>
                                            <span class="icon is-medium"><i class="mdi mdi-forward mdi-36px"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
{% endblock content %}
</div>