{% extends 'app.html' %}
{% block title %}Consultar Inscrição{% endblock title %}

{% block content %}

        <div>
                <nav aria-label="breadcrumbs" class="breadcrumb">
                    <ul>
                        <li><a href="/" class="router-link-active">Início</a></li>
                        <li class="is-active"><a href="/inscricao" class="router-link-exact-active router-link-active">Inscrições</a></li>           
                                 </ul>
                </nav>
     
        {% csrf_token %}
       
<p>Filtrar por:</p>

<form action="PageObjects" method="post">
        <b>Departamento</b>
         <select id="departamento">
          <option value="departamento">FCT</option>
          <option value="departamento">FCHS</option>


        </select>
</form>

<form action="PageObjects" method="post">
        <b>Hora</b>
        <select id="hora">
         <option value="hora">09:00</option>
         <option value="hora">10:00</option>
         <option value="hora">10:30</option>
       </select>
</form>


<form action="PageObjects" method="post">
        <b>Área Científica</b>
        <select id="hora">
         <option value="hora">Matemática</option>
         <option value="hora">Ciências</option>
         <option value="hora">Economia</option>
       </select>
</form>

<form action="PageObjects" method="post">
        <b>Tipo</b>
        <select id="hora">
         <option value="hora">Atividades Experimentais</option>
         <option value="hora">Demonstrações</option>
         <option value="hora">Atividades investigativas</option>
       </select>
</form>
        
        {% load django_tables2 %}
        {% render_table table %}

        {% endblock content %}
</div>