{% extends 'app.html' %}
{% load django_tables2 %}

{% block title %}- Minhas Inscrições
{% endblock title %}

{% block content %}

<div class="columns">
    <div class="column is-3">
        <div class="menu">
            <div class="menu-label">
                Filtros Inscrições
            </div>
            <div class="menu-list content">
                <form method="get">
                    <div class="field">
                        <div class="control">
                            <input class="input" name="{{ filter.form.nalunos.name }}"
                                value="{{ filter.form.nalunos.value }}" type="number" placeholder="Nº alunos">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="{{ filter.form.escola.name }}" value="{{filter.form.escola.value}}">
                                    <option value="">Qualquer escola</option>
                                    {% for value, escola in filter.form.fields.escola.choices %}
                                    {% if value != "" %}
                                    <option value="{{ value }}"
                                        {% if value|stringformat:'s' == filter.form.escola.value %} selected
                                        {% endif %}>
                                        {{ escola }}
                                    </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" name="{{ filter.form.areacientifica.name }}"
                                value="{{ filter.form.areacientifica.value|default_if_none:'' }}" type="text"
                                placeholder="Área Científica">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <p class="control is-expanded">
                            <input class="button is-light is-fullwidth" type="reset" value="Limpar">
                        </p>
                        <p class="control is-expanded">
                            <input class="button is-primary is-fullwidth" type="submit" value="Pesquisar">
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="column">
        <nav aria-label="breadcrumbs" class="breadcrumb">
            <ul>
                <li><a href="{% url 'home' %}">Início</a></li>
                <li class="is-active"><a href="{% url 'inscricoes:minhas-inscricoes' %}">Minhas Inscrições</a></li>
            </ul>
        </nav>
        {% render_table table %}
    </div>
</div>
{% endblock content %}