{% extends 'configuracao/app.html' %}
{% block content %}
{% load l10n %}
{% load transporte_extra %}
<div class="columns">
    <div class="column is-3">
        <form method="POST" action="" id='filter'>
            {% csrf_token %}
            <div>
            <div class="menu">
                <p class="menu-label">Filtros Transporte</p>
                <ul class="menu-list">
                <div class="field">
                    <!---->
                    <div class="control has-icons-left is-clearfix">
                        <input type="text" name="searchId" placeholder="Identificador" class="input"  value=""> 
                        <span class="icon is-left">
                            <i class="mdi mdi-magnify mdi-24px"></i>
                        </span>
                    </div>
                    <!---->
                </div>
                <div class="field">
                    <!---->
                    <div class="select is-fullwidth">
                        <select id="filter_from">
                            <option value="">De</option>
                            <option value="fromGambelas">De Gambelas</option>
                            <option value="fromPenha">De Penha</option>
                            <option value="fromTerminal">De Terminal</option>
                        </select>
                    </div>
                    <!---->
                </div>
                <div class="field">
                    <!---->
                    <div class="select is-fullwidth">
                        <select id="filter_to">
                            <option value="">Para</option>
                            <option value="toGambelas">Para Gambelas</option>
                            <option value="toPenha">Para Penha</option>
                            <option value="toTerminal">Para Terminal</option>
                        </select>
                    </div>
                    <!---->
                </div>                
                <div class="field">
                    <button type="submit" onClick="resetForm()" class="button is-danger is-outlined">
                        <span class="icon is-left">
                            <i class="mdi mdi-trash-can-outline mdi-24px"></i>
                        </span>
                        <span>Limpar pesquisa</span>
                    </button>
                    <button type="Submit" class="button is-success is-outlined">
                        <span class="icon is-left">
                            <i class="mdi mdi-magnify mdi-24px"></i>
                        </span>
                        <span>Pesquisar</span>
                    </button>
                </div>
                </ul>
            </div>
            </div>
        </form>
    </div>
    <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="#">Início</a></li>
              <li class="is-active"><a href="#" aria-current="page">Transportes</a></li>
            </ul>
          </nav>
        <a class="button is-success is-outlined" type="button" style="margin-bottom:0.5rem" href="{% url 'criarTransporte'%}">     
            <span class="icon is-small">
                <i class="mdi mdi-plus"></i>
            </span>
            <span>Criar Transporte</span>
        </a>   
    <form method="POST">
        <div class="table">
            <div class="table-wrapper">
                <table id="table01" class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th style="width: 30px;" ></th>
                            <th  onclick="sortTable(1,false)" style=" cursor: pointer;" class="pre-expandable">
                                Identificador
                                <span class="icon-expandable-180 is-small">
                                    <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                            <th onclick="sortTable(2,false)" style=" cursor: pointer;" class="pre-expandable">
                                Tipo
                                <span class="icon-expandable-180 is-small">
                                    <i class="mdi mdi-menu-up"></i>
                                </span>                                
                            </th>
                            <th onclick="sortTable(3,false)" style=" cursor: pointer;" class="pre-expandable">
                                Origem - Destino
                                <span class="icon-expandable-180 is-small">
                                    <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                            <th onclick="sortTable(4,false)" style=" cursor: pointer;" class="pre-expandable">
                                Horário
                                <span class="icon-expandable-180 is-small">
                                    <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                            <th onclick="sortTable(5,false)" style=" cursor: pointer;" class="pre-expandable">
                                Vagas/Capacidade
                                <span class="icon-expandable-180 is-small">
                                    <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>                            
                            <th style="width: 40px">
                                Operações
                            </th>                            
                        </tr>
                    </thead>
                    <tbody> 
                    {% for horarioTra in horariosTra %}     
                    <tr draggable="false">
                        <td class="chevron-cell">
                            <a role="button" onclick="displayDetails({{horarioTra.id}})">
                                <span class="">
                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Identificador">
                            {{horarioTra|transport_id}} 
                        </td>
                        <td data-label="Tipo">
                            {{horarioTra|transport_type}}
                        </td>
                        <td data-label="Origem - Destino">
                            {{horarioTra.trip}}
                        </td>
                        <td data-label="Horário">
                            {{horarioTra.horaPartida}}&nbsp;-&nbsp;{{horarioTra.horaChegada}}
                        </td>
                        <td data-label="Capacidade">
                            {{horarioTra|vagas_cap}}
                        </td>
                        <td data-label="Operações">
                            <div class="columns">
                                <div class="column is-1">  
                                    <a id='assign' href="{% url 'atribuirTransporte' horarioTra.id %}">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-bus-school mdi-24px"></i>
                                        </span>
                                    </a>
                                </div>
                                &nbsp;
                                <div class="column is-1">  
                                    <a id='edit' href="{% url 'editarTransporte' horarioTra.transporte.id%}">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-circle-edit-outline mdi-24px"></i>
                                        </span>
                                    </a>
                                </div>
                                &nbsp;
                                <div class="column is-1">                 
                                    <a onclick="alert.render('Tem a certeza que pretende eliminar este Transporte?','{% url 'eliminarTransporte' horarioTra.id %}')">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-trash-can-outline mdi-24px" style="color: #ff0000"></i>
                                        </span>
                                    </a> 
                                </div>
                                &nbsp;
                            </div> 
                        </td>                     
                      </tr> 
                        
                    
                    {% endfor %}
                    </tbody>
                </table>
    </form>
            </div>
        </div>

    </div>
</div>
{% include 'configuracao/popup.html' %}
{% endblock content %}
{% block scripts %}
{% endblock scripts %}