{% extends 'app.html' %}
{% block content %}
{% load l10n %}
<div class="columns">
    <div class="column is-3">
        <form method="POST" action="" id='filter'>
            {% csrf_token %}
            <div>
            <div class="menu">
                <p class="menu-label">Filtros Menu</p>
                <ul class="menu-list">
                <div class="field">
                    <!---->
                    <div class="control has-icons-left is-clearfix">
                        {{form.searchAno}}
                        <span class="icon is-left">
                            <i class="mdi mdi-magnify mdi-24px"></i>
                        </span>
                    </div>
                    <!---->
                </div>
                <div class="field">
                    <label class="checkbox">
                        {{form.penha}}
                        Penha
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        {{form.gambelas}}
                            Gambelas
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        {{form.portimao}}
                            Portimao
                    </label>
                </div>
                <div class="field">
                    <button type="submit" onClick="resetForm()" class="button is-danger is-outlined">
                        <span class="icon is-left">
                            <i class="mdi mdi-trash-can-outline mdi-24px"></i>
                        </span>
                        <span>Limpar pesquisa</span>
                    </button>
                    <button type="Submit" class="button is-success is-outlined">
                        <span class="icon is-left">
                            <i class="mdi mdi-magnify mdi-24px"></i>
                        </span>
                        <span>Pesquisar</span>
                    </button>
                </div>
                </ul>
            </div>
            </div>
            
        </form>
    </div>
    <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="#">Início</a></li>
              <li class="is-active"><a href="#" aria-current="page">Transportes</a></li>
            </ul>
          </nav>
        <a class="button is-success is-outlined" type="button" style="margin-bottom:0.5rem" href="{% url 'novoMenu'%}">     
            <span class="icon is-small">
                <i class="mdi mdi-plus"></i>
            </span>
            <span>Novo Menu</span>
        </a>   

        <div  class="table">
            <div class="table-wrapper">
                <table id="table01" class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th style="width: 30px;" ></th>
                            <th  onclick="sortTable(1,true)" style=" cursor: pointer;" class="pre-arrow">
                                Dia Aberto<span class="arrow active"><span></span><span></span></span>
                            </th>
                            <th onclick="sortTable(2,false)" style=" cursor: pointer;" class="pre-arrow">
                                Campus<span class="arrow active"><span></span><span></span></span>
                            </th>
                            <th style="width: 400px">
                                Operações
                            </th>                            
                        </tr>
                    </thead>
                    <tbody> 
                    {% for menu in menus %}     
                    <tr draggable="false">
                        <td class="chevron-cell">
                            <a role="button" onclick="displayDetails({{menu.id}})">
                                <span class="icon-expandable">
                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Dia Aberto" date-value="{{menu.dia|date:'Y-m-d'}}">
                            {{menu.dia}}
                        </td>
                        <td data-label="Campus">{{menu.campus.nome}}</td>
                        <td data-label="Operações">
                            <div class="columns">
                                
                                <div class="column is-1">  
                                    <a id='edit' href="{% url 'editarMenu' menu.id %}">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-circle-edit-outline mdi-24px"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="column is-1">                 
                                    <a onclick="alert.render('Tem a certeza que pretende eliminar este Menu?','{% url 'eliminarMenu' menu.id %}')">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-trash-can-outline mdi-24px" style="color: #ff0000"></i>
                                        </span>
                                    </a> 
                                </div>
                            </div> 
                        </td>                     
                      </tr> 
                      <tr class="detail" style="display: none" id='Details{{menu.id}}'>
                        <td colspan="5">
                            <div class="detail-container">
                                <div class="table"> 
                                    <div class="table-wrapper">
                                        <table class="table is-stripped has-mobile-cards is-fullwidth">
                                            <thead id='tabble-details{{menu.id}}'>
                                                <tr>
                                                    <th class="th-wrap">Tipo:</th>
                                                    <th class="th-wrap">Prato:</th>
                                                    <th class="th-wrap"># Pratos:</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for prato in menu.pratos_ %}
                                                <tr style="border-bottom: 1px solid #ddd">
                                                    <td data-label='Tipo:' style="font-weight: normal;">
                                                        <span>{{prato.tipo}}</span>
                                                    </td>
                                                    <td data-label='Prato:' style="font-weight: normal;">
                                                        <span>{{prato.prato}}</span>
                                                    </td>
                                                    <td data-label='# Pratos:' style="font-weight: normal;">
                                                        <span>{{prato.nrpratosdisponiveis}}</span>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </td>
                       </tr> 
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'configuracao/popup.html' %}
{% endblock content %}
{% block scripts %}
{% endblock scripts %}