{% extends 'app.html' %}
{% block content %}
{% load l10n %}
{% load configuracao_tags %}
<div class="columns">
    <div class="column is-3">
        {% comment 'filter needs to be commented out first' %}
        <form method="POST" action="" id='filter'>
            {% csrf_token %}
            <div class="menu">
                <p class="menu-label">Filtros Edificios</p>
                <ul class="menu-list">
                <div class="field">
                    <!---->
                    <div class="control has-icons-left is-clearfix">
                        {{form.searchAno}}
                        <span class="icon is-left">
                            <i class="mdi mdi-magnify mdi-24px"></i>
                        </span>
                    </div>
                    <!---->
                </div>
                <div class="field">
                    <label class="checkbox">
                        {{form.penha}}
                        Penha
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        {{form.gambelas}}
                            Gambelas
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        {{form.portimao}}
                            Portimao
                    </label>
                </div>
                <div class="field">
                    <button type="submit" onClick="resetForm()" class="button is-danger is-outlined">
                        <span class="icon is-left">
                            <i class="mdi mdi-trash-can-outline mdi-24px"></i>
                        </span>
                        <span>Limpar pesquisa</span>
                    </button>
                    <button type="Submit" class="button is-success is-outlined">
                        <span class="icon is-left">
                            <i class="mdi mdi-magnify mdi-24px"></i>
                        </span>
                        <span>Pesquisar</span>
                    </button>
                </div>
                </ul>
            </div>     
        </form>
        {% endcomment %}
    </div>
    <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{% url 'home' %}">Início</a></li>
              <li class="is-active"><a href="#" aria-current="page">Departamentos</a></li>
            </ul>
          </nav>
        <a class="button is-success is-outlined" type="button" style="margin-bottom:0.5rem" href="{% url 'configuracao:adicionarDepartamento'%}">     
            <span class="icon is-small">
                <i class="mdi mdi-plus"></i>
            </span>
            <span>Configurar Departamentos</span>
        </a>   

        <div class="b-table">
            <div class="table-wrapper">
                <table id="table01" class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th style="width: 30px;" ></th>
                            <th  onclick="sortTable(1,false)" style=" cursor: pointer;" class="pre-arrow">
                                Departamento<span class="arrow active"><span></span><span></span></span>
                            </th>
                            <th onclick="sortTable(2,false)" style=" cursor: pointer;" class="pre-arrow">
                                Sigla<span class="arrow active"><span></span><span></span></span>
                            </th>
                            <th onclick="sortTable(2,false)" style=" cursor: pointer;" class="pre-arrow">
                                Unidade Organica<span class="arrow active"><span></span><span></span></span>
                            </th>
                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody> 
                    {% for dep in departamentos %}     
                    <tr draggable="false">
                        <td class="chevron-cell">
                        </td>
                        <td data-label="Nome">
                            {{dep.nome}}
                       </td>                    
                        <td data-label="Sigla">
                            {{dep.sigla}}
                        </td>
                         <td data-label="UO">
                            {{dep.unidadeorganicaid}}
                        </td>                                                       
                        <td data-label="Operações">
                            <div class="columns">
                                <div class="column is-1">  
                                    <a id='edit' href="{% url 'configuracao:editarDepartamento' dep.id %}">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-circle-edit-outline mdi-24px"></i>
                                        </span>
                                    </a>
                                </div>
                                &nbsp;
                                <div class="column is-1">                 
                                    <a onclick="alert.render('Tem a certeza que pretende eliminar este tema?','{% url 'configuracao:eliminarDepartamento' dep.id %}')">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-trash-can-outline mdi-24px" style="color: #ff0000"></i>
                                        </span>
                                    </a> 
                                </div>
                            </div> 
                        </td>                     
                      </tr> 
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}