{% extends 'app.html' %}
{% block content %}
{% load l10n %}
{% load configuracao_tags %}
<div class="columns">
    <div class="column is-3">
        {% comment 'filter needs to be commented out first' %}
        <form method="POST" action="" id='filter'>
            {% csrf_token %}
            <div class="menu">
                <p class="menu-label">Filtros Edificios</p>
                <ul class="menu-list">
                <div class="field">
                    <!---->
                    <div class="control has-icons-left is-clearfix">
                        {{form.searchAno}}
                        <span class="icon is-left">
                            <i class="mdi mdi-magnify mdi-24px"></i>
                        </span>
                    </div>
                    <!---->
                </div>
                <div class="field">
                    <label class="checkbox">
                        {{form.penha}}
                        Penha
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        {{form.gambelas}}
                            Gambelas
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        {{form.portimao}}
                            Portimao
                    </label>
                </div>
                <div class="field">
                    <button type="submit" onClick="resetForm()" class="button is-danger is-outlined">
                        <span class="icon is-left">
                            <i class="mdi mdi-trash-can-outline mdi-24px"></i>
                        </span>
                        <span>Limpar pesquisa</span>
                    </button>
                    <button type="Submit" class="button is-success is-outlined">
                        <span class="icon is-left">
                            <i class="mdi mdi-magnify mdi-24px"></i>
                        </span>
                        <span>Pesquisar</span>
                    </button>
                </div>
                </ul>
            </div>     
        </form>
        {% endcomment %}
    </div>
    <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{% url 'home' %}">Início</a></li>
              <li class="is-active"><a href="#" aria-current="page">Edificios</a></li>
            </ul>
          </nav>
        <a class="button is-success is-outlined" type="button" style="margin-bottom:0.5rem" href="{% url 'configuracao:adicionarEdificio'%}">     
            <span class="icon is-small">
                <i class="mdi mdi-plus"></i>
            </span>
            <span>Configurar Edificio</span>
        </a>   

        <div class="b-table">
            <div class="table-wrapper">
                <table id="table01" class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th style="width: 30px;" ></th>
                            <th  onclick="sortTable(1,false)" style=" cursor: pointer;" class="pre-arrow">
                                Nome<span class="arrow active"><span></span><span></span></span>
                            </th>
                            <th onclick="sortTable(2,false)" style=" cursor: pointer;" class="pre-arrow">
                                Campus<span class="arrow active"><span></span><span></span></span>
                            </th>
                            <th onclick="sortTable(2,false)" style=" cursor: pointer;" class="pre-arrow">
                                Numero de Salas<span class="arrow active"><span></span><span></span></span>
                            </th>                            
                            <th>
                                Operações
                            </th>                            
                        </tr>
                    </thead>
                    <tbody> 
                    {% for edificio in edificios %}     
                    <tr draggable="false">
                        <td class="chevron-cell">
                            <a role="button" onclick="displayDetails({{edificio.id}})">
                                <span class="icon-expandable">
                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Nome">
                            {{edificio}}
                        </td>                    
                        <td data-label="Campus">{{edificio.campus.nome}}</td>
                        <td data-label="# Salas">
                            {{edificio|get_salas_count}}
                        </td>                            
                        <td data-label="Operações">
                            <div class="columns">
                                
                                <div class="column is-1">  
                                    <a id='edit' href="{% url 'configuracao:editarEdificio' edificio.id %}">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-circle-edit-outline mdi-24px"></i>
                                        </span>
                                    </a>
                                </div>
                                &nbsp;
                                <div class="column is-1">                 
                                    <a onclick="alert.render('Tem a certeza que pretende eliminar este edificio?','{% url 'configuracao:eliminarEdificio' edificio.id %}')">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-trash-can-outline mdi-24px" style="color: #ff0000"></i>
                                        </span>
                                    </a> 
                                </div>
                            </div> 
                        </td>                     
                      </tr> 
                      <tr class="detail" style="display: none" id='Details{{edificio.id}}'>
                        <td colspan="5">
                            <div class="detail-container">
                                <div class="table"> 
                                    <div class="table-wrapper">
                                        <table class="table is-stripped has-mobile-cards is-fullwidth">
                                            <thead id='tabble-details{{edificio.id}}'>
                                                <tr>
                                                    <th class="th-wrap">Nome:</th>
                                                    <th class="th-wrap">Andar:</th>
                                                    <th class="th-wrap">Descrição:</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for espaco in edificio.espacos_ %}
                                                <tr style="border-bottom: 1px solid #ddd">
                                                    <td data-label='Nome:' style="font-weight: normal;">
                                                        <span>{{espaco}}</span>
                                                    </td>
                                                    <td data-label='Andar:' style="font-weight: normal;">
                                                        <span>{{espaco.andar}}</span>
                                                    </td>
                                                    <td data-label='Descrição:' style="font-weight: normal;">
                                                        <span>
                                                            {% if espaco.descricao != None %}
                                                                {{espaco.descricao}}
                                                            {% else %}
                                                                N/E
                                                            {% endif %}
                                                        </span>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                       </tr> 
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}