                                        <tr>
                                                <!--<input type="hidden" name="{{form_id}}" id="id_{{form_id}}">-->
                                                <td data-label="Origem">
                                                    <input type="text" name="{{form_origem}}" class="input" maxlength="32" id="id_{{form_origem}}">
                                                </td>
                                            
                                                <td data-label="Chegada">
                                                    <input type="text" name="{{form_chegada}}" class="input" maxlength="32" id="id_{{form_chegada}}">
                                                </td>
                                            
                                                <td data-label="HoraPartida">
                                                    <input type="time" name="{{form_horaPartida}}" class="input" id="id_{{form_horaPartida}}">
                                                </td>
                                            
                                                <td data-label="HoraChegada">
                                                    <input type="time" name="{{form_horaChegada}}" class="input" id="id_{{form_horaChegada}}">
                                                </td>
                                            
                                            <td>
                                            </td>
                                        </tr>